body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(57, 151, 96, 0.29);
  cursor: pointer;
  background: rgb(193, 233, 134);
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.btn:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.tweet-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

span.spanBlockYellow {
  display: block;
  width: 80%;
  height: 150px;
  padding: 5px;
  border: 5px solid red;        
  background-color: yellow; 
}

span.spanBlockGreen {
  display: block;
  width: 80%;
  height: 150px;
  padding: 5px;
  border: 5px solid blue;        
  background-color: green; 
}

.blockLeaderBoard {
  display: block;
  width: 60%;
  height: 150px;
  padding: 5px;
  border: 5px solid gray;        
  background-color: whitesmoke; 
}

.blockQuestionsList {
  display: block;
  width: 90%;
  height: 150px;
  padding: 5px;
  color: rgb(21, 15, 29);
  border: 5px solid gray;        
  background-color: rgb(243, 235, 235); 
}

.linkLogIn {
  color: blue;
  text-decoration: underline;
}

.displayUserNameAndTitle {
  text-align: center;
  display: flex;
}

.btnLogout {
  text-transform: uppercase;
  margin: 15px auto;
  padding: 5px;
  border: 1px solid rgba(102, 112, 196, 0.29);
  cursor: pointer;
  background: rgb(193, 233, 134);
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btnLogout:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btnLogout:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.btnLogout:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}